{% from 'components/_proponent_card.html' import proponent_card %}
{% from "components/_fields.html" import field_quantitative_rating, field_checkbox, field_individual_rating %}

{% extends "base.html" %}

{% block body %}

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mb-3">

            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="card-title mb-3">
                        {{ thesis.title }}
                    </h3>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-1">
                                
                                <h4>
                                    <span class="badge bg-{{ 'success' if quantitative_status else 'warning' }}">{{ 'DONE' if quantitative_status else 'ONGOING' }}</span>
                                    Quantitative Rating
                                </h4>
                                
                                {% if thesis.quantitative_rating_id %}
                                    <a class="btn btn-sm btn-ueccss" href="{{ url_for('quantitative_rating.grading', group_id=thesis.group_id, thesis_id=thesis.id, quantitative_rating_id=thesis.quantitative_rating_id) }}" role="button" target="_blank">Manuscript Rating</a>
                                {% endif %}
    
                                {% if thesis.quantitative_rating_developed_id %}
                                    <a class="btn btn-sm btn-ueccss" href="{{ url_for('quantitative_rating.grading', group_id=thesis.group_id, thesis_id=thesis.id, quantitative_rating_id=thesis.quantitative_rating_developed_id) }}" role="button" target="_blank">Developed Thesis Project Rating</a>
                                {% endif %}

                            </div>                            
                        </div>
                                    
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-1">
                                <h4>Individual Rating</h4>
                                {% for proponent in thesis.proponents %}
                                    {{proponent_card(proponent, thesis.id, individual_ratings[proponent.id])}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <form action="" method="POST">
                            {% include "components/csrf_token.html" %}

                            <div class="mb-3">
                                <label>Revisions</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            
                            <div class="mb-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-ueccss">Save</button>
                            </div>
                        </form>
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>		
</div>

{% endblock %}