{% from 'components/_proponent_card.html' import proponent_card %}
{% from "components/_fields.html" import field_checkbox, field_textarea, field_individual_rating %}
{% from "components/_quantitative_rating.html" import quantitative_rating %}
{% extends "base.html" %}

{% block body %}

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mb-3">

            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="card-title mb-5">
                        {{ thesis.title }}
                    </h3>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                
                                {% if group.chairman == current_user %}
                                <div class="col-12">
                                    <div class="d-grid gap-1">
                                        
                                        <h4>
                                            Qualitative Rating
                                        </h4>
                                        <p class="text-muted"><i><small>*May generate necessary documents upon successful grading.</small></i></p>

                                        <div class="border p-3">
                                            <form action="" method="POST">

                                                {% include "components/csrf_token.html" %}
                                                
                                                <input type="hidden" id="custId" name="form_name" value="qualitative">
                                                {% for rating, description in qualitative_ratings.items() %}
                                                    <div class="form-check mb-3">
                                                        {% if thesis.qualitative_rating == rating %}
                                                            <input class="form-check-input" type="radio" name="qualitative_rating" value="{{ rating }}" checked>
                                                            <label class="form-check-label">
                                                                <strong>{{ rating }}</strong> <small>{{ ' - ' + description if description else '' }}</small>
                                                            </label>
                                                        {% else %}
                                                            <input class="form-check-input" type="radio" name="qualitative_rating" value="{{ rating }}">
                                                            <label class="form-check-label">
                                                                <strong>{{ rating }}</strong> <small>{{ ' - ' + description if description else '' }}</small>
                                                            </label>
                                                        {% endif  %}
                                                    </div>
                                                {% endfor %}
                                        
                                                <div class="d-grid gap-1">
                                                    <button type="button" class="btn btn-sm btn-ueccss" data-bs-toggle="modal" data-bs-target="#confirmQualitative">
                                                        Submit qualitative rating
                                                    </button>

                                                    <div class="modal fade" id="confirmQualitative" tabindex="-1" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">Confirm grading</h5>
                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you want to finalize the grading and generate documents for this thesis?
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                              <button type="submit" class="btn btn-ueccss">Submit</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                

                            </div>                            
                        </div>
                                    
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <div class="d-grid gap-1">
                                        
                                        <h4>
                                            Quantitative Rating
                                            <span class="badge bg-{{ 'success' if quantitative_status else 'warning' }}">{{ 'DONE' if quantitative_status else 'ONGOING' }}</span>
                                        </h4>
                                        
                                        <div class="border p-3">
                                            <div class="d-grid gap-2">
                                                {% if thesis.quantitative_rating_id %}
                                                <a class="btn btn-sm btn-ueccss" href="{{ url_for('quantitative_rating.grading', group_id=thesis.group_id, thesis_id=thesis.id, quantitative_rating_id=thesis.quantitative_rating_id) }}" role="button" target="_blank">Manuscript Rating</a>
                                                
                                                {{quantitative_rating(
                                                    label="Manuscript Rating",
                                                    thesis=thesis,
                                                    quantitative_rating=thesis.manuscript_rating
                                                    )}}
                                                

                                                {% endif %}
                                                
                                                {% if thesis.quantitative_rating_developed_id %}
                                                <a class="btn btn-sm btn-ueccss" href="{{ url_for('quantitative_rating.grading', group_id=thesis.group_id, thesis_id=thesis.id, quantitative_rating_id=thesis.quantitative_rating_developed_id) }}" role="button" target="_blank">Developed Thesis Project Rating</a>
                                                    
                                                {{quantitative_rating(
                                                    label="Developed Thesis Project Rating",
                                                    thesis=thesis,
                                                    quantitative_rating=thesis.developed_thesis_rating
                                                    )}}
                                                {% endif %}
                                                
                                            </div>
                                        </div>  
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="d-grid gap-1">
                                        <h4>Individual Rating</h4>
                                        {% for proponent in thesis.proponents %}
                                            {{proponent_card(proponent, thesis.id, individual_ratings[proponent.id])}}
                                        {% endfor %}
                                    </div>        
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <form action="" method="POST">
                            <input type="hidden" id="custId" name="form_name" value="revision">
                            {% set revision = {
                                "comment" : request.form["comment"] if request.form["comment"] else revision.comment,
                                "is_final" : request.form["is_final"] if request.form["is_final"] else revision.is_final
                            } %}

                            {% include "components/csrf_token.html" %}

                            <div>
                                <label class="form-label h6">Revision notes</label>
                                {{ field_textarea("comment", result, revision["comment"]) }}
                            </div>
                            
                            <div>
                                {{ field_checkbox(
                                    "is_final",
                                    result,
                                    "Mark as final to be included for submission.",
                                    revision["is_final"]
                                    ) 
                                }}
                            </div>


                            <div class="d-flex justify-content-end">
                                {% if group.chairman == current_user %}
                                    <button type="button" class="btn btn-outline-ueccss me-2 compiled-revision" data-bs-toggle="modal" data-bs-target="#compiledRevision">
                                        See compiled revision notes
                                    </button>
                                {% endif %}

                                <button type="submit" class="btn btn-ueccss">Save revision notes</button>
                            </div>
                        </form>
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>		
</div>

<!-- Modal -->

<!-- revision notes -->
<div class="modal fade" id="compiledRevision" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Compiled revision notes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" name="link" value="{{url_for('thesis.ajax_revision_list', thesis_id=thesis.id)}}">

            <h3 class="loading">Loading...</h3>

            <div class="compilation">
                <!-- removed -->
                {#
                {% for revision in thesis.revision_lists %}
                    {% if revision.panelist in group.panelists %}
                    <div class="mb-3">
                        <label class="form-label h6">{{'You' if revision.panelist == current_user else revision.panelist.full_name}}</label>
                        <textarea class="form-control" rows="5" disabled>{{revision.comment}}</textarea>
                    </div>
                    {% endif %}
                {% endfor %}
                #}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

<!-- 
TODO
//- .sleep the route
//- .fail catch
// - grab yung current input and overwrite yung na fetch for the chairman
//- display revisions
// - delete old loop
//- test 
    // - kung nag rereflect and notes (login another user)
    // - delete revisions ng mga panel
    //- invoke an error, open the modal twice
    //    - try din to sa indiv rating
    //    - baka hindi nag rereflect yung error by the second open
-->


<!-- 
    
TODO QUANTITATIVE
//-onclick, show modal
    // - fetch criteria and stuff
    // - render fields w/ proper names, is final
    // - fetch panelist grade
        // - loading display maski hanggang nth click
        //- success
          //  - loop val set in field
        //- fail
          //  - msg
- on submit
    - check quanti status, update DONE indicator
        - create a global var for checking
    // - is_final disable
    //- loading indicator
    //- disable checkbox
    - success
        - is-valid
    - fail
        - is-invalid
        - is-valid
        - gen error
- test
    - check if mag generate ng grade pag wala pa
- 2021 - BSEMC-DA - CEM 4980 not showing description and stuff
- scoring js
 -->

{% block script %}
$(document).ready(function() {
    console.log('ready');

    $.ajaxSetup({
        headers: {
          'X-CSRF-TOKEN':'{{csrf_token()}}'
        }
     });
    
    //==================QUANTIATIVE RATING===============================
    $("button.quantitative-rating").click(function() {
        const modalId = $(this).attr('data-bs-target');
        const modalDiv = $(modalId);
        const modalBody = modalDiv.find('.modal-body');
        const loadingDiv = modalBody.find('.loading');
        const form = modalBody.find('form');
        const submit_button = form.find("button[type=submit]");
        const link = form.find('input[name="link"]').val();

        loadingDiv.html('Loading...');
        loadingDiv.show();
        form.hide();

        $.ajax(
            link
        ).done(function(data){
            // form listener
            form.submit(function(event) {
                event.preventDefault();
                
                // show loader button
                submit_button.attr('disabled', ' ');
                submit_button.find('.spinner-border').removeClass('visually-hidden');
                submit_button.find('.status').html('Saving...');
                submit_button.find('.spinner-border');
                
                let quantitativeRatingFields = form.find('input.field-quantitative-rating:checked')
                
                let data = {}
                $.each(quantitativeRatingFields, function(key, value) {
                    data[$(value).attr("name")] = $(value).val();
                });

                data["is_final"] = Boolean(form.find('input[name="is_final"]:checked').val());

                console.log(data);
                
                // disable is final
                form.find('input[name=is_final]').attr('disabled','');

                $.ajax(
                    {
                        method: 'POST',
                        url: link,
                        data: data
                    }
                ).done(function(data) {
                    
                    // valid data
                    // IS-VALID

                }).fail(function(data) {
                    // IS-INVALID and IS-VALID
                    // GENERAL ERROR

                }).always(function() {

                    // hide loader button
                    submit_button.attr('disabled', null);
                    submit_button.find('.spinner-border').addClass('visually-hidden');
                    submit_button.find('.status').html('Save');

                    // CODE HERE

                    //enable is final
                    form.find('input[name=is_final]').attr('disabled', null);

                });


            });

            console.log(data);
            loadingDiv.hide();
            form.show();

            // fill each value
            $.each( data['quantitative_panelist_grade'], function(key, value) {
                
                var selector;
                
                if (key === 'is_final') {
                    // selector = 'input[name=' + key + '][value=' + (value ? '1' : '0') + ']';

                    selector = `input[name='${key}'][value='${value ? '1' : '0'}']`;
                } else {
                    selector = `input[name='${key}'][value=${value['grade']}]`;
                }

                form.find(selector).attr("checked","");
                
            });

        }).fail(function(data) {
            loadingDiv.html('<h3>An error occured. Please refresh the page.</h3>');
        });

    });




    //==================REVISION NOTES===============================
     $("button.compiled-revision").click(function() {
        const modalId = $(this).attr('data-bs-target');
        const modalDiv = $(modalId);
        const modalBody = modalDiv.find('.modal-body');
        const loadingDiv = modalBody.find('.loading');
        const compilation = modalBody.find('.compilation');
        const link = modalBody.find('input[name="link"]').val();
        const revisionInput = $("textarea[name=comment]").val();

        // loading indicator
        loadingDiv.html('Loading...');
        loadingDiv.show();
        compilation.hide();
        
        $.ajax(
            link
        ).done(function(data){

            // hide loading
            loadingDiv.hide();
            compilation.show();
            
            data['revision']['You'] = revisionInput;
            var revisionNotesHTML = ``;
            // loop each revision
            $.each(data['revision'], function(panelist, revisionNotes) {
                revisionNotesHTML = revisionNotesHTML + `
<div class="mb-3">
    <label class="form-label h6">`+panelist+`</label>
    <textarea class="form-control" rows="5" disabled>`+revisionNotes+`</textarea>
</div>
                `;
            });

            compilation.html(revisionNotesHTML);

        }).fail(function(data) {
            loadingDiv.html('An error occured. Please refresh the page.');
        });

     });
    


     //==================INDIVIDUAL GRADING===============================
    $("button.individual-rating").click(function() {
        const modalId = $(this).attr('data-bs-target');
        const modalDiv = $(modalId);
        const modalBody = modalDiv.find('.modal-body');
        const loadingDiv = modalBody.find('.loading');
        const form = modalBody.find('form');
        const submit_button = form.find("button[type=submit]");
        const link = form.find('input[name="link"]').val();
        
        loadingDiv.html('Loading...');
        loadingDiv.show();
        form.hide();
        
        $.ajax(
            link
        ).done(function(data) {
            
            // form listener
            form.submit(function(event) {
                event.preventDefault();
                
                // show loader button
                submit_button.attr('disabled', ' ');
                submit_button.find('.spinner-border').removeClass('visually-hidden');
                submit_button.find('.status').html('Saving...');
                submit_button.find('.spinner-border');

                
                const data = {
                    csrf_token : '{{csrf_token()}}',
                    intelligent_response : form.find('input[name="intelligent_response"]:checked').val(),
                    respectful_response : form.find('input[name="respectful_response"]:checked').val(),
                    communication_skills : form.find('input[name="communication_skills"]:checked').val(),
                    confidence : form.find('input[name="confidence"]:checked').val(),
                    attire : form.find('input[name="attire"]:checked').val(),
                    is_final : Boolean(form.find('input[name="is_final"]:checked').val())
                }
                
                // disable is final
                form.find('input[name=is_final]').attr('disabled','');

                $.ajax(
                    {
                        method: 'POST',
                        url: link,
                        data: data
                    }
                ).done(function(data) {
                    
                    // valid data
                    $.each(data['result']['valid'], function(key, value) {
                        var selector;
                        if (!(key === 'is_final')) {
                            selector = 'input[name=' + key + ']';
                        }

                        form.find(selector).removeClass("is-invalid");
                        form.find(selector).addClass("is-valid");
                    });

                }).fail(function(data) {
                    if (data.status === 406) {
                        // invalid data
                        $.each(data['responseJSON']['invalid'], function(key, value) {
                            var selector;
                            if (!(key === 'is_final')) {
                                selector = 'input[name=' + key + ']';
                            }
    
    
                            form.find(selector).removeClass("is-valid");
                            form.find(selector).addClass("is-invalid");
                        });
    
                        // valid data
                        $.each(data['responseJSON']['valid'], function(key, value) {
                            var selector;
                            if (!(key === 'is_final')) {
                                selector = 'input[name=' + key + ']';
                            }
    
                            form.find(selector).removeClass("is-invalid");
                            form.find(selector).addClass("is-valid");
                        });
                    } else {
                        alert('An error occured. Please refresh the page.');
                    }

                }).always(function() {

                    // hide loader button
                    submit_button.attr('disabled', null);
                    submit_button.find('.spinner-border').addClass('visually-hidden');
                    submit_button.find('.status').html('Save');

                    const proponent_id = form.find("input[name=proponent_id").val();
                    const selector = "#individual-rating-button-" + proponent_id;

                    // Rated or Rating button
                    if (data['is_final']) {
                        $(selector).removeClass("btn-warning");
                        $(selector).addClass("btn-ueccss");
                        $(selector).html('Rated');
                    } else {
                        $(selector).removeClass("btn-ueccss");
                        $(selector).addClass("btn-warning");
                        $(selector).html('Rating');
                    }

                    //enable is final
                    form.find('input[name=is_final]').attr('disabled', null);

                });


            });
            
            loadingDiv.hide();
            form.show();

            // fill each value
            $.each( data['individual_rating'], function(key, value) {
                var selector;
                
                if (key === 'is_final') {
                    selector = 'input[name=' + key + '][value=' + (value ? '1' : '0') + ']';
                } else {
                    selector = 'input[name=' + key + '][value=' + value + ']';
                }

                form.find(selector).attr("checked","");
                
            });

            


        }).fail(function(data) {
            loadingDiv.html('<h3>An error occured. Please refresh the page.</h3>');
        });


    });

});

{% endblock %}



<!-- 
    
TODO
// -check if thru ajax nadedetect din current user (para malaman kung gumagana yung decorators) 
// -onclick, show modal
// -if fetch success on modal, add listener to '.individiual-rating-form'
//-scripts in main grading page para salo lahat. function that will handle ONLY indiv ratings
// - loop object and set values if meron
//-grab all fields
//-send through ajax
//-check all fields if is_final is checked
    //- commit all valid
    //    - show if success posting
    // - set invalid fields to invalid
    //- force a server error na hindi validation error
      //  - when submitting
        //- when commmiting 
        //- icatch lahat and show "An error occured. Please refresh the page."

//- disable is final habang nag susubmit para safe
//-mark success/ongoing
//- nag error sa Very Good maski complete data
   // - http://localhost:5000/group/grading/14/235
//- error pag walang indiv rating
   //- http://localhost:5000/group/grading/14/460
//- comment out yung POST ng indiv rating na hindi async


 -->
