<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}" rel="stylesheet">

		<title>Hello, world!</title>
	</head>
	<body class="bg-light">
		
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <p class="lead text-center">CCSS Thesis Archiving</p>
                    <div class="card py-1">
                        <div class="card-body">
                            <form action=" " method="POST">
                                
                                <div class="mb-3">
                                    {% if result['invalid'] %}
                                    
                                        <div class="alert alert-danger" role="alert">
                                            
                                            {% for k,v in result['invalid'].items() %}
                                                <small>
                                                    {{k}} : {{v}}
                                                    
                                                </small>
                                            {% endfor %}
                                          </div>
                                    
                                    
                                    {% endif %}
                                    
                                </div>
                                
                                <p>Username</p>
                                <input type="text" name="username">
                                
                                <p>Password</p>
                                <input type="password" name="password">
                                
                                <input type="submit" value="Submit">
  
                            </form>
                              <!-- Button trigger modal -->
<button type="button" class="btn btn-uered" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-uered">Save changes</button>
        </div>
      </div>
    </div>
  </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>


		<!-- bootstrap js -->
		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>


	</body>
</html>