{% extends "base.html" %}

{% block body %}

<div class="container-fluid py-5">
	<!-- <p class="text-center lead" style="min-width: 300px;">CCSS Thesis Archiving</p> -->
	<div class="card shadow-sm mx-auto border-0" style="min-width: 350px; max-width: 350px;">
		<div class="card-body p-4 py-5">
			<h1 class="display-4 text-center"><i class="bi bi-book-fill"></i></h1>
			<p class="text-center mb-4">CCSS Thesis Archiving</p>
			
			<form class="row">
				<div class="mb-3">
					<label for="formGroupExampleInput2" class="form-label">Username</label>
					<div class="input-group input-group-sm">
						<span class="input-group-text"><i class="bi bi-person-fill"></i></span>
						<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
					</div>
				</div>

				<div class="mb-3">
					<label for="formGroupExampleInput2" class="form-label">Password</label>
					<div class="input-group input-group-sm">
						<span class="input-group-text"><i class="bi bi-key-fill"></i></span>
						<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
					</div>
					<a href="#" class="link-primary" style="text-decoration: none;"><small>Forgot your password?</small></a>
				</div>

				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-sm btn-ueccss">Sign in</button>
					<small>Don't have an account? <a href="#" class="link-primary" style="text-decoration: none;">Contact R&D.</a></small>
				</div>
			</form>
			
		</div>
	</div>
</div>

{% endblock %}