{% from "components/_thesis_card.html" import thesis_card %}
{% from "components/_group_card.html" import group_card %}

{% extends "base.html" %}

{% block body %}

<div class="container">
			
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10 py-3">
            <div class="d-grid gap-3">

                <div class="accordion" id="accordionProfile">
                    {#
                    {% if groups %}
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="headingPanelGroups">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePanelGroups" aria-expanded="false" aria-controls="collapsePanelGroups">
                                Your panel groups ({{groups.count()}})
                            </button>
                        </h6>
                        
                        <div id="collapsePanelGroups" class="accordion-collapse collapse" aria-labelledby="headingPanelGroups">
                        {% for group in groups %}
                            {{ group_card(group, current_user)}}	
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    #}

                    {% if advisees %}
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="headingAdvisees">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvisees" aria-expanded="false" aria-controls="collapseAdvisees">
                                Your advisees ({{advisees.count()}})
                            </button>
                        </h6>
                        
                        <div id="collapseAdvisees" class="accordion-collapse collapse" aria-labelledby="headingAdvisees">
                        {% for advisee in advisees %}
                            {{ thesis_card(advisee, current_user) }}	
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if current_user.is_student %}
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="headingTheses">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheses" aria-expanded="false" aria-controls="collapseTheses">
                                Your theses ({{theses.count()}})
                            </button>
                        </h6>
                        
                        <div id="collapseTheses" class="accordion-collapse collapse" aria-labelledby="headingTheses">
                        {% for thesis in theses %}
                            {{ thesis_card(thesis, current_user) }}	
                        {% endfor %}
                        </div>
                    </div>

                    {% endif %}

                </div>

            </div>
        </div>
    </div>

</div>
	
{% endblock %}
