{% from "components/_pagination.html" import pagination %}
{% from "components/_data_actions.html" import data_actions %}

{% macro role(attr) %}
	{% if attr %}
		<span class="text-success h6"><strong>{{attr}}</strong></span>
	{% else %}
		{{attr}}
	{% endif %}
{% endmacro %}

{% extends "base.html" %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col py-3">
				<div class="card px-3 shadow-sm border-0">
					<div class="card-body">
						
						<!-- title and create -->
						<h3 class="card-title">
							<div class="d-flex flex-wrap justify-content-between">
								<span>
									User
								</span>
								<div class="d-flex flex-wrap align-items-start">
									{{ data_actions(export_url='user.export') }}
								</div>
							</div>
						</h3>

						<!-- total -->
						<h6 class="card-subtitle mb-2">
							Total: {{users.total}}
						</h6>

						<!-- table -->
						<div class="table-responsive">

							<table class="table table-borderless table-striped table-hover">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Username</th>
										<th scope="col">Full Name</th>
										<th scope="col">Email</th>
										<th scope="col">is_adviser</th>
										<th scope="col">is_admin</th>
										<th scope="col">is_superuser</th>
										<th scope="col">Date Registered</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users.items %}
										<tr>
											<th scope="row">{{ users.page * users.per_page - users.per_page + loop.index }}</th>
											<td>{{ user.username }}</td>
											<td>{{ user.full_name }}</td>
											<td>{{ user.email }}</td>
											<td>{{ role(user.is_adviser) }}</td>
											<td>{{ role(user.is_admin) }}</td>
											<td>{{ role(user.is_superuser) }}</td>
											<td>{{ user.date_registered }}</td>
											<td>
												<a class="btn btn-sm btn-primary bi bi-pencil align-self-start mr-1" href="#" role="button"></a>
												<a class="btn btn-sm btn-danger bi bi-trash align-self-start" href="#" role="button"></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{ pagination(users, "user.read") }}
	
{% endblock %}
