[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
mysql-connector-python = "*"
pytz = "*"
openpyxl = "*"
flask-bcrypt = "*"
flask-mail = "*"
python-dotenv = "*"
reportlab = "*"
pypdf2 = "*"
pandas = "==1.3.0"

[dev-packages]

[requires]
python_version = "3.7"
