<!-- general field -->
{% macro field(type, name, result, value="") %}

    {% if result["valid"][name] %}
        <input type="{{type}}" name="{{name}}" value="{{value}}" class="form-control is-valid">
        <!-- feedback div for ajax -->
        <div class="">
            
        </div>
        
    {% elif result["invalid"][name] %}
        <input type="{{type}}" name="{{name}}" value="{{value}}" class="form-control is-invalid">
        <div class="invalid-feedback">
            {% for msg in result["invalid"][name] %}
                <p class="mb-0"><small>{{msg}}</small></p>
            {% endfor %}
        </div>

    {% else %}
        <input type="{{type}}" name="{{name}}" value="{{value}}" class="form-control">
        
        <!-- feedback div for ajax -->
        <div class="">
            
        </div>
        
    {% endif %}

{% endmacro %}

