<!-- general field -->
{% macro field(type, name, result, value, min, max) %}

    {% set input_class = "form-control" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set input_class = input_class + " is-valid" %}
    {% endif %}
    {% if result["invalid"][name] %}
        {% set input_class = input_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}
    
    {% if type == "number" %}
        {% set min = "min=" + min|string %}
        {% set max = "max=" + max|string %}
    {% endif %}

    <input type="{{type}}" name="{{name}}" value="{{value|trim}}" class="{{ input_class }}" {{ min + " " + max if type == "number" else "" }}>
    
    <!-- feedback div for ajax -->
    {{ feedback(feedback_class, result["invalid"][name]) }}

{% endmacro %}

<!-- file field -->
{% macro field_file(name, result) %}

    {% set input_class = "form-control" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set input_class = input_class + " is-valid" %}
    {% endif %}
    {% if result["invalid"][name] %}
        {% set input_class = input_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}

    <input type="file" name="{{name}}" class="{{ input_class }}">
    
    <!-- feedback div for ajax -->
    {{ feedback(feedback_class, result["invalid"][name]) }}

{% endmacro %}

<!-- select field -->
{% macro field_select(name, result, choices, value) %}

    {% set select_class = "form-select form-control" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set select_class = select_class + " is-valid" %}
    {% endif %}
    {% if result["invalid"][name] %}
        {% set select_class = select_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}
    
    <select class="{{ select_class }}" name="{{ name }}">
        <option>None</option>
        {% for k, v in choices.items() %}
            {% if value and k == value | int %}
                <option selected value="{{ k }}">{{ v }}</option>
            {% else %}
                <option value="{{ k }}">{{ v }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <!-- feedback div for ajax -->
    {{ feedback(feedback_class, result["invalid"][name]) }}

{% endmacro %}


<!-- textarea -->
{% macro field_textarea(name, result, value) %}

    {% set textarea_class = "form-control" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set textarea_class = textarea_class + " is-valid" %}
    {% endif %}
    {% if result["invalid"][name] %}
        {% set textarea_class = textarea_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}

    <textarea name="{{name}}" class="{{ textarea_class }}" rows="10">{{ value if value else ''}}</textarea>
    <!-- feedback div for ajax -->
    {{ feedback(feedback_class, result["invalid"][name]) }}

{% endmacro %}

<!-- checkbox -->
{% macro field_checkbox(name, result, label, value) %}

    {% set check_class = "form-check-input" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set check_class = check_class + " is-valid" %}
    {% endif %}

    {% if result["invalid"][name] %}
        {% set check_class = check_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}
    {% endif %}

    <input class="{{ check_class }}" type="checkbox" value="1" {{ 'checked' if value else '' }} name="{{ name }}">
    <label class="form-check-label">
        {{ label }}
    </label>
{% endmacro %}


<!-- indiv rating -->
{% macro field_individual_rating(criteria, name, result, value) %}

    {% set labels = {
        'Poor': 1,
        'Below Average': 2,
        'Average': 3,
        'Above Average': 4,
        'Good': 5,
        'Very Good' : 6
    } %}

    {% set radio_class = "form-check-input" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set radio_class = radio_class + " is-valid" %}
    {% endif %}
    {% if result["invalid"][name] %}
        {% set radio_class = radio_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}

            
    <label class="form-label h6">{{criteria}}</label>
    
    <br>

    <div class="d-flex justify-content-around">

        {% for k,v in labels.items() %}
        
        <div>
            <input class="{{radio_class}}" type="radio" name="{{name}}" value="{{v}}" {{ "checked" if v == value|int else ""}}>
        
            <label class="form-check-label">
                {{k}}
            </label>
            
        </div>
        {% endfor %}

    </div>
            
{% endmacro %}

<!-- quantitative rating -->
{% macro field_quantitative_rating(name, result, value, max_grade) %}

    {% set radio_class = "form-check-input" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set radio_class = radio_class + " is-valid" %}
    {% endif %}
    
    {% if result["invalid"][name] %}
        {% set radio_class = radio_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}

            
    <label class="form-label h6">{{name}}</label>
    
    <br>

    <div class="d-flex justify-content-around">

        {% for i in range(1, max_grade + 1) %}
        
        <div>
            <input class="{{radio_class}}" type="radio" name="{{name}}" value="{{loop.revindex}}" {{ "checked" if loop.revindex == value|int else ""}}>
        
            <label class="form-check-label">
                {{ loop.revindex }}
            </label>
            
        </div>
        {% endfor %}

    </div>
            
{% endmacro %}

<!-- indiv rating -->
{% macro field_individual_rating(criteria, name, result, value) %}

    {% set labels = {
        'Poor': 1,
        'Below Average': 2,
        'Average': 3,
        'Above Average': 4,
        'Good': 5,
        'Very Good' : 6
    } %}

    {% set radio_class = "form-check-input" %}
    {% set feedback_class = "" %}

    {% if result["valid"][name] %}
        {% set radio_class = radio_class + " is-valid" %}
    {% endif %}
    {% if result["invalid"][name] %}
        {% set radio_class = radio_class + " is-invalid" %}
        {% set feedback_class = "invalid-feedback" %}

    {% endif %}

            
    <label class="form-label h6">{{criteria}}</label>
    
    <br>

    <div class="d-flex justify-content-around">

        {% for k,v in labels.items() %}
        
        <div>
            <input class="{{radio_class}}" type="radio" name="{{name}}" value="{{v}}" {{ "checked" if v == value|int else ""}}>
        
            <label class="form-check-label">
                {{k}}
            </label>
            
        </div>
        {% endfor %}

    </div>
            
{% endmacro %}

<!-- feedback -->
{% macro feedback(feedback_class, result) %}
    <!-- id = feedback-{{name}} -->
    <div class="{{ feedback_class }}">
        
        {% if result %}
            {% for msg in result %}
                <p class="mb-0"><small>{{msg}}</small></p>
            {% endfor %}
        {% endif %}

    </div>

{% endmacro %}