{% from "components/_delete_modal.html" import delete_modal %}
{% from "components/_chairman_modal.html" import chairman_modal %}

{% macro group_card(group, current_user) %}

    <div class="card shadow-sm border-0 overflow-auto">
        <div class="card-body">
            <!-- group num -->

            
            <h5 class="card-title">
                <div class="d-flex justify-content-between">
                    <!-- title -->
                    <div>
                        Group {{group.number}}
                    </div>

                    <!-- action buttons -->
                    <div class="d-flex flex-nowrap">
                        {% if current_user in group.panelists %}
                            {{ chairman_modal(group) }}
                        {% endif %}
                        
                        {% if current_user.is_superuser or current_user.is_admin %}
                            <a class="btn btn-sm btn-primary bi bi-pencil align-self-start mx-1" href="{{ url_for('group.update', group_id=group.id) }}" role="button"></a>

                            {{ delete_modal(url_for('group.delete', group_id=group.id),group.id, group.number) }}

                        {% endif %}
                    </div>

                </div>
            </h5>

            {% for panelist in group.panelists %}
                <span class="badge bg-ueccss">{{panelist.full_name}}</span>
            {% endfor %}

        </div>
    </div>

{% endmacro %}