{% macro pagination(paginate_obj, route) %}
    <div class="container-fluid overflow-auto mb-3">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link link-ueccss" href="{{ url_for(route, page = 1 if paginate_obj.page == 1 else paginate_obj.page - 1) }}">&lsaquo;</a></li>
                
                {% for page in paginate_obj.iter_pages(right_current=3, left_edge=1, right_edge=1) %}
                    {% if page %}
                        {% if paginate_obj.page == page %}
                            <li class="page-item"><a class="page-link link-light bg-ueccss" href="{{ url_for(route, page=page) }}">{{page}}</a></li>

                        {% else %}
                            <li class="page-item"><a class="page-link link-ueccss" href="{{ url_for(route, page=page) }}">{{page}}</a></li>

                        {% endif %}

                    {% else %}
                        <li class="page-item"><i class="page-link link-ueccss bi bi-three-dots"></i></li>	
                        
                    {% endif %}

                {% endfor %}
                
                <li class="page-item"><a class="page-link link-ueccss" href="{{ url_for(route, page = paginate_obj.pages if paginate_obj.page == paginate_obj.pages else paginate_obj.page + 1) }}">&rsaquo;</a></li>
            </ul>
        </nav>
    </div>
{% endmacro %}