{% macro quantitative_rating(label, group_id, thesis, quantitative_rating) %}
<button type="button" class="btn btn-sm btn-ueccss quantitative-rating" data-bs-toggle="modal" data-bs-target="#quantitative-rating-{{quantitative_rating.id}}" id="quantitative-rating-button"> {{label}}
</button>

<div class="modal fade" id="quantitative-rating-{{quantitative_rating.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    Quantitative Rating
                    <span class="text-muted h5">{{thesis.title}}</span>
                </h5>
            </div>
            
            <div class="modal-body">
                <h6>
                    {{ quantitative_rating.name }}
                </h6>
                <form>
                    <input type="hidden" name="link" value="{{ url_for('quantitative_rating.ajax_grading', group_id=thesis.group_id, thesis_id=thesis.id, quantitative_rating_id=quantitative_rating.id) }}">
                </form>

                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endmacro %}