{% macro crud_link(name, link="#") %}

    <li class="nav-item">
        <a class="nav-link link-ueccss" aria-current="page" href="{{ link }}">{{ name }}</a>
    </li>

{% endmacro %}

<div class="container-fluid bg-white shadow-sm overflow-auto py-1">
    <div class="row">
        <div class="col">
            <div class="container-md">
                <ul class="nav" style="min-width: 768px;">
                    
                    {{ crud_link("Thesis", url_for('thesis.read')) }}
                    
                    {% if current_user.is_superuser or current_user.is_admin %}
                        {{ crud_link("Group", url_for('group.read')) }}
                        {{ crud_link("User", url_for('user.read')) }}
                        {{ crud_link("Program", url_for('program.read')) }}
                        {{ crud_link("Category", url_for('category.read')) }}
                        {{ crud_link("Log", url_for('log.read')) }}

                    {% endif %}

                    
                    <li class="nav-item ms-auto d-flex align-items-center">
                        <form action="" method="GET">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="" name="search">
                                <button class="btn btn-ueccss" type="submit"><i class="bi bi-search"></i> Search</button>
                              </div>
                        </form>
                    </li>

                </ul>
               
            </div>
        </div>
    </div>
</div>