{% from "components/_pagination.html" import pagination %}
{% from "components/_data_actions.html" import data_actions %}
{% from "components/_delete_modal.html" import delete_modal %}

{% extends "base.html" %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 col-xl-6 py-3">
				<div class="card px-3 shadow-sm border-0">
					<div class="card-body">
						
						<!-- title and create -->
						<h3 class="card-title">
							<div class="d-flex flex-wrap justify-content-between">
								<span>
									Program
								</span>
								<div class="d-flex flex-wrap align-items-start">
									{{ data_actions(create_url='program.create') }}
								</div>
							</div>
						</h3>

						<!-- total -->
						<h6 class="card-subtitle mb-2">
							Total: {{programs.total}}
						</h6>

						<!-- table -->
						<div class="table-responsive">

							<table class="table table-borderless table-striped table-hover">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Name</th>
										<th scope="col">Code</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for program in programs.items %}
										<tr>
											<th scope="row">{{ programs.page * programs.per_page - programs.per_page + loop.index }}</th>
											<td>{{ program.name }}</td>
											<td>{{ program.code }}</td>
											<td>
												<a class="btn btn-sm btn-primary bi bi-pencil align-self-start mr-1" href="{{ url_for('program.update', program_id=program.id) }}" role="button"></a>
												{{ delete_modal(url_for('program.delete', program_id=program.id), program.id, program.name) }}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{ pagination(programs, "program.read") }}
	
{% endblock %}
