{% extends "base.html" %}

{% block body %}

	{% include "components/navbar.html" %}
	{% include "components/crudbar.html" %}

	
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-12 col-xl-10 py-3">
				<div class="d-grid gap-3">
					
					{% for t in thesis %}
						<div class="card shadow-sm border-0">
							<div class="card-body">
								<h5 class="card-title">{{t.title}}</h5>
								<h6 class="card-subtitle mb-2">
									{{t.program_name}}
									<small class="text-muted">{{t.category_name}}</small>
								</h6>
								<span class="badge bg-dark">{{t.research_area}}</span>

								{% for k in t.research_keywords %}
									<span class="badge rounded-pill bg-light text-dark">{{k}}</span>
								{% endfor %}
								
								<p class="card-text small">
									{{t.overview}}
								</p>
								
							</div>
						</div>
					{% endfor %}
					
				</div>
			</div>
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center ">
			  <li class="page-item">
				<a class="page-link link-ueccss" href="#" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				</a>
			  </li>
			  <li class="page-item"><a class="page-link link-ueccss" href="#">1</a></li>
			  <li class="page-item"><a class="page-link link-ueccss" href="#">2</a></li>
			  <li class="page-item"><a class="page-link link-ueccss" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link link-ueccss" href="#" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				</a>
			  </li>
			</ul>
		  </nav>
		  
	</div>
{% endblock %}
