{% from "components/_pagination.html" import pagination %}
{% from "components/_data_actions.html" import data_actions %}
{% from "components/_thesis_card.html" import thesis_card %}

{% extends "base.html" %}

{% block body %}

	<div class="container">
			
		<div class="row justify-content-center">
			<div class="col-12 col-xl-10 py-3">
				<div class="d-grid gap-3">
					
					{% if current_user.is_superuser or current_user.is_admin %}
						<div class="d-flex flex-wrap justify-content-end">
							{{ data_actions(export_url='thesis.export', create_url='thesis.create', create_label='Thesis') }}
						</div>
					{% endif %}

					{% for thesis in theses.items %}
						{{ thesis_card(thesis, current_user) }}	
					{% endfor %}					

				</div>
			</div>
		</div>

	</div>
	
	{{ pagination(theses, "thesis.read") }}
	
{% endblock %}
