{% from "components/_fields.html" import field, field_select, field_textarea, field_file %}
{% from "components/_proponents_update.html" import proponents_update %}

{% extends "base.html" %}

{% block body %}

	<div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 mb-3">

                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h3 class="card-title">
							Update Thesis
						</h3>

                        <form action="" method="POST" enctype='multipart/form-data'>
                            
                            {% 
                                set thesis = {
                                    'id': thesis.id,
                                    'title': request.form['title'] if request.form['title'] else thesis.title,
                                    'adviser_id': request.form['adviser_id'] if request.form['adviser_id'] else thesis.adviser_id,
                                    'proponents': thesis.proponents,
                                    'program_id': request.form['program_id'] if request.form['program_id'] else thesis.program_id,
                                    'category_id': request.form['category_id'] if request.form['category_id'] else thesis.category_id,
                                    'quantitative_rating_id': request.form['quantitative_rating_id'] if request.form['quantitative_rating_id'] else thesis.quantitative_rating_id,
                                    'sy_start': request.form['sy_start'] if request.form['sy_start'] else thesis.sy_start,
                                    'semester': request.form['semester'] if request.form['semester'] else thesis.semester,
                                    'is_old': (request.form['is_old'] | int) if request.form['is_old'] else (thesis.is_old | int),
                                    'area': request.form['area'] if request.form['area'] else thesis.area,
                                    'keywords': request.form['keywords'] if request.form['keywords'] else thesis.keywords,
                                    'overview': request.form['overview'] if request.form['overview'] else thesis.overview,
                                    'group_id': request.form['group_id'] if request.form['group_id'] else thesis.group_id,
                                    'proposal_form' : thesis.proposal_form
                                } 
                            
                            %}

                            {% include "components/csrf_token.html" %}
                            
                            <!-- title -->
                            <div class="mb-3">
                                <label class="form-label h6">Title</label>
                                {{ field("text", "title", result, thesis['title']) }}
                            </div>

                            <!-- adviser -->
                            <div class="mb-3">
                                <label class="form-label h6">Adviser</label>
                                {{ field_select("adviser_id", result, select_choices['adviser_id'], thesis['adviser_id']) }}
                            </div>

                            <div class="my-5">
                            </div>
                            
                            <div class="row mb-3">
                                <!-- program -->
                                <div class="col-12 col-sm-4">
                                    <label class="form-label h6">Program</label>
                                    {{ field_select("program_id", result, select_choices['program_id'], thesis['program_id']) }}
                                </div>
                                
                                <!-- category -->
                                <div class="col-12 col-sm-4">
                                    <label class="form-label h6">Category</label>
                                    {{ field_select("category_id", result, select_choices['category_id'], thesis['category_id']) }}        
                                </div>

                                <div class="col-12 col-sm-4">
                                    <label class="form-label h6">Quantitative Rating</label>
                                    {{ field_select("quantitative_rating_id", result, select_choices['quantitative_rating_id'], thesis['quantitative_rating_id']) }}
                                    <small>Existing grades associated with the thesis for the <strong>current rating</strong> are <strong>deleted</strong> after changing.</small>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <!-- sy -->
                                <div class="col-12 col-sm-3">
                                    <label class="form-label h6">School Year</label>
                                    {{ field_select("sy_start", result, select_choices['sy_start'], thesis['sy_start']) }}
                                </div>
                                
                                <!-- sem -->
                                <div class="col-12 col-sm-3">
                                    <label class="form-label h6">Semester</label>
                                    {{ field_select("semester", result, select_choices['semester'], thesis['semester']) }}
                                </div>
                                
                                <!-- is_old -->
                                <div class="col-12 col-sm-3">
                                    <label class="form-label h6">Batch</label>
                                    {{ field_select("is_old", result, select_choices['is_old'], thesis['is_old']) }}
                                </div>

                                <!-- group_id -->
                                <div class="col-12 col-sm-3">
                                    <label class="form-label h6">Panel Group</label>
                                    {{ field_select("group_id", result, select_choices['group_id'], thesis['group_id']) }}
                                </div>
                            </div>

                            <div class="my-5">
                            </div>

                            <!-- area -->
                            <div class="mb-3">
                                <label class="form-label h6">Area</label>
                                {{ field("text", "area", result, thesis['area']) }}
                            </div>

                            <!-- keywords -->
                            <div class="mb-3">
                                <label class="form-label h6 mb-0">Keywords</label>
                                <p class="mb-2"><small>Comma-separated.</small></p>
                                {{ field("text", "keywords", result, thesis['keywords']) }}
                            </div>

                            <!-- overview -->
                            <div class="mb-3">
                                <label class="form-label h6">Overview</label>
                                {{ field_textarea("overview", result, thesis['overview']) }}
                            </div>
                            
                            <!-- file input -->
                            <div class="mb-5">
                                <label class="form-label h6">Proposal Form</label>
                                {{ field_file("proposal_form", result) }}
                                <a href="{{ url_for("thesis.download_proposal_form", thesis_id=thesis.id) }}" target="_blank">{{ thesis.proposal_form }}</a>
                            </div>

                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-ueccss" type="submit">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-lg-5">
                {{ proponents_update(thesis['id'], thesis['proponents']) }}
             </div>
        </div>		
	</div>
	
	
	
{% endblock %}

{# 
==basic info
title - input/

adviser_id - dropdown/
proponents - input

program_id - dropdown/
category_id - dropdown/

sy_start - input/
semester - dropdown/
is_old - check/

==Descriptions
area - input
keywords - input
overview - textarea


number - backend
date_registered - backend
#}