<!doctype html>

<html lang="en">
	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap/Bootstrap Icon CSS -->
		<link href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}" rel="stylesheet">

		<title>Thesis Archiving</title>
		
		<style>
			
			body {
				background-image: url("{{ url_for('static', filename='bg-white.png') }}");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				background-position: center;
			}
			
			{% block css %}


			{% endblock %}

		</style>

	</head>

	<body class="bg-light">
		
		{% if current_user.is_authenticated %}
			{% include "components/navbar.html" %}
			{% include "components/crud_bar.html" %}
			{% include "components/flash.html" %}
        {% endif %}
		
		{% block body %}
			
        {% endblock %}

		<!-- bootstrap js -->
		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>

		<!-- updating total scores @ grading forms -->
		<script>
		    function update_total_score() {
		        let total_score = -1;

		        for (elem of document.getElementsByClassName("form-check-input")){
		            if (elem.checked) {
		                total_score +=  parseInt(elem.value);
		            };
		        };

		        let $total_score = document.getElementById("grading-score");
		        let $total_percent = document.getElementById("grading-percent");
		        let $total_point = document.getElementById("grading-point");

		        let total_items = parseInt(document.getElementById("total-items").innerHTML);

		        $total_score.innerHTML = total_score;

		        if (total_items == 30) {
		        	var ref = {"0": 0, "1": 52, "2": 53, "3": 55, "4": 57, "5": 58, "6": 60, 
								"7": 62, "8": 63, "9": 65, "10": 67, "11": 68, "12": 70, 
								"13": 72, "14": 73, "15": 75, "16": 77, "17": 78, "18": 80, 
								"19": 82, "20": 83, "21": 85, "22": 87, "23": 88, "24": 90, 
								"25": 92, "26": 93, "27": 95, "28": 97, "29": 98, "30": 100}
			        $total_percent.innerHTML = ref[total_score.toString()];
		        }

		        if (total_items == 25) {
		        	var ref = {"0": 0, "1": 52, "2": 54, "3": 56, "4": 58, "5": 60, "6": 62, "7": 64, 
								"8": 66, "9": 68, "10": 70, "11": 72, "12": 74, "13": 76, "14": 78, 
								"15": 80, "16": 82, "17": 84, "18": 86, "19": 88, "20": 90, "21": 92, 
								"22": 94, "23": 96, "24": 98, "25": 100}
			        $total_percent.innerHTML = ref[total_score.toString()];
		        }

		        if (total_items == 30) {
		        	var ref = {"0": '0.00', "1": '5.00', "2": '5.00', "3": '5.00', "4": '5.00', "5": '5.00', 
								"6": '5.00', "7": '5.00', "8": '5.00', "9": '5.00', "10": '5.00', "11": '5.00', 
								"12": '5.00', "13": '5.00', "14": '5.00', "15": '3.00', "16": '2.75', 
								"17": '2.75', "18": '2.50', "19": '2.50', "20": '2.25', "21": '2.25', 
								"22": '2.00', "23": '2.00', "24": '1.75', "25": '1.50', "26": '1.50', 
								"27": '1.25', "28": '1.25', "29": '1.00', "30": '1.00'}
			        $total_point.innerHTML = ref[total_score.toString()];
		        }

		        if (total_items == 25) {
		        	var ref = {"0": "0.00", "1": "5.00", "2": "5.00", "3": "5.00", "4": "5.00", "5": "5.00", "6": "5.00", 
								"7": "5.00", "8": "5.00", "9": "5.00", "10": "5.00", "11": "5.00", "12": "5.00", "13": "3.00", 
								"14": "2.75", "15": "2.50", "16": "2.50", "17": "2.25", "18": "2.00", "19": "2.00", "20": "1.75", 
								"21": "1.50", "22": "1.50", "23": "1.25", "24": "1.00", "25": "1.00"}
			        $total_point.innerHTML = ref[total_score.toString()];
		        }
		    };

		    window.onload = function () {
		        update_total_score();
		    };
		</script>
		
		{% block script %}
		
		{% endblock %}

	</body>

</html>