<!doctype html>

<html lang="en">
	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap/Bootstrap Icon CSS -->
		<link href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}" rel="stylesheet">

		<title>Thesis Archiving</title>
		
		<style>
			
			body {
				background-image: url("{{ url_for('static', filename='bg-white.png') }}");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				background-position: center;
			}
			
			{% block css %}


			{% endblock %}

		</style>

	</head>

	<body class="bg-light">
		
		{% if current_user.is_authenticated %}
			{% include "components/navbar.html" %}
			{% include "components/crud_bar.html" %}
			{% include "components/flash.html" %}
        {% endif %}
		
		{% block body %}
			
        {% endblock %}

		<!-- bootstrap js -->
		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>

		{% block script %}
		
		{% endblock %}

	</body>

</html>